In [60]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = None
pd.options.display.max_columns = None

from datetime import datetime

# Dados de futebol mundial virtual

In [68]:
df = pd.read_csv('data_futebol_mundial.csv', dtype=str)

In [69]:
df.head()

   score team_back  team_home             datetime goal_home goal_back
0  1 - 1    France    Denmark  2020-04-21 18:58:00         1         1
1  1 - 0    France      Chile  2020-04-21 18:55:00         1         0
2  1 - 0    Brazil  Australia  2020-04-21 18:52:00         1         0
3  1 - 1  Colombia   Cameroon  2020-04-21 18:49:00         1         1
4  2 - 1   Belgium    Germany  2020-04-21 18:46:00         2         1

In [21]:
#PARA JUNTAR AS COLUNAS DE TIME DATE EM UMA SO
for row, content in df.T.iteritems():
    datee = content['date'] + ' ' + content['time']
    df.loc[row, 'datetime'] = datee
    
    if (row % 1000) == 0:
        print(row)
        
df.drop(['date', 'time'], axis=1, inplace=True)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000

In [31]:
# PARA SEPARAR OS GOLS DE CASA E FORA
for row, content in df.T.iteritems():
    goals = content['score'].split(' - ')
    df.loc[row, 'goal_home'] = goals[0]
    df.loc[row, 'goal_back'] = goals[1]
    
    if (row % 1000) == 0:
        print(row)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000

In [37]:
# TRANSFORMANDO EM DATETIME A COLUNA COM HORARIO E DATA DOS EVENTOS
df['datetime'] = pd.to_datetime(df['datetime'])

In [47]:
df.to_csv('data_futebol_mundial.csv', index=None)

In [71]:
df.head(10)

,score,team_back,team_home,datetime,goal_home,goal_back
0,1 - 1,France,Denmark,2020-04-21 18:58:00,1,1
1,1 - 0,France,Chile,2020-04-21 18:55:00,1,0
2,1 - 0,Brazil,Australia,2020-04-21 18:52:00,1,0
3,1 - 1,Colombia,Cameroon,2020-04-21 18:49:00,1,1
4,2 - 1,Belgium,Germany,2020-04-21 18:46:00,2,1
5,0 - 0,Italy,Croatia,2020-04-21 18:43:00,0,0
6,2 - 0,Greece,France,2020-04-21 18:40:00,2,0
7,1 - 1,Spain,France,2020-04-21 18:37:00,1,1
8,1 - 0,Greece,Spain,2020-04-21 18:34:00,1,0
9,1 - 2,Republic of Ireland,Ukraine,2020-04-21 18:31:00,1,2